.card-k {
    width: 925px;
    height: 282px;
    background: #FAFAFF;
    border: 1px solid #86868B;
    border-radius: 16px;
    padding: 24px;
}

.text1-k {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #121216;
}

.people-icon{
    margin-right: 10px;
}
.clock-icon{
    margin-right: 10px;
}
.text2-k {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #121216;
    margin-top: 17.5px;
    margin-bottom: 16px;
    margin-right: 18px;
}

.part1-cardk {
    display: flex;
    color: #121216;
}

.desc-cardK {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #4C4C50;
}

.tags-cardK {
    margin-top: 16px;
    display: flex;
    margin-bottom: 16px;
}

.tag-cardK {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #4C4C50;
    background: #A9B1F4;
    border-radius: 16px;
    margin-right: 8px;
    padding: 3px 9px;

}

.text3-k {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #121216;
}
.akhir-cardK{
    display: flex;
}
.chat-icon{
    margin-right: 11px;
}