.btn-norm {
    padding: 12px 24px;
    background-color: #192BC2;
    margin-top: 1.5rem;
    margin-left: 6.25rem;
}

.btn-norm:hover {
    background-color: #111D81;
}

.btn-submit {
    width: 25rem;
    background-color: #192BC2;
    padding: 12px 170px;
    margin-bottom: 2rem;
}

.btn-norm2 {
    padding: 12px 24px;
    background-color: #192BC2;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
    border: 1px solid #FAFAFA;
}

.btn-norm2:hover {
    background-color: #111D81;
}

.btn-norm3 {
    padding: 12px 24px;
    background-color: #FAFAFA;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
    margin-left: 24px;
    border: 1px solid #FAFAFA;
    color: #121212;
}

.btn-norm3:hover {
    background-color: #A9B1F4;
}

.btn-nav {
    padding: 12px 24px;
    background-color: #192BC2;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
}

.btn-nav:hover {
    background-color: #111D81;
}

.btn-navWhite {
    padding: 12px 24px;
    background-color: #fff;
    color: #121216;
}

.btn-navWhite:hover {
    color: #192BC2;
}

.btn-norm4 {
    display: flex;
    float: left;
    padding: 12px 24px;
    background-color: #192BC2;
    margin-top: 1.5rem;
    margin-left: 6.25rem;
}

.btn-norm4:hover {
    background-color: #111D81;
}

.btn-sa1 {
    width: 352px;
    height: 48px;
    background: #192BC2;
    border-radius: 8px;
    margin-bottom: 16px;
}

.btn-sa2 {
    width: 352px;
    height: 48px;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border-color: #192BC2;
    color: #192BC2;
}

.btn-daftar {
    width: 190px;
    height: 48px;
    background: #192BC2;
    box-shadow: 0px 8px 24px rgba(8, 14, 65, 0.15);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #FAFAFF;
    padding: 12px 24px;
    margin-top: 48px;
}

.btn-ib {
    width: 230px;
    height: 48px;
    padding: 12px 24px;
    background: #192BC2;
    border: 1px solid #FAFAFF;
    box-shadow: 0px 8px 24px rgba(8, 14, 65, 0.15);
    border-radius: 8px;
    margin-top: 96px;
}