
.navbar{
    margin: 0;
    padding: 12px 0px;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
    z-index: 1000;
    height: 4.5rem;
    
}
.logo-nav{
    
}
.nav-list{
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.list-part{
    background-color: #fff;
    margin-right: 15px;
}

.nav-list2{
    background-color: #fff;
    list-style: none;
    display: flex;
    justify-content:space-around;
}
.list-part2{
    background-color: #fff;
}
.btn-LogOut{
    background-color: #000;
}