.whole-sec {
    display: flex;
    background-color: #fff;
    background-position: cover;
    width: 100vw;
    height: 100vh;

}

.left-sec {
    display: flex;
    flex-basis: 50%;
    background-color: #4C4C4C;
    width: 50%;
    height: 100%;
}

.right-sec {
    display: flex;
    flex-basis: 50%;
    background-color: #fff;
    width: 50%;
    height: 100%;

}

.form-part {
    /* display: flex; */
    padding-top: 18rem;
    width: 100%;
    text-align: center;

}

.title-form {

    margin: auto;
    width: 25rem;
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

}

.desc-form {

    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    /* display: flex; */
    width: 25rem;
    /* height: 3rem; */
    /* margin-left: 20%; */
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.register {
    width: 25rem;
    color: black;
    margin: auto;
    text-align: right;
    margin-bottom: 3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

/* .submit-form{
    width: 25rem;
    background-color: #868686;
    padding: 12px 170px;
    margin-bottom: 11.25rem;
} */
.penutup {
    /* display:list-item; */
    /* B1/Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #4C4C4C;

}