.logo-login{
    margin-top: 20px;
}

.whole-sec {
    display: flex;
    background-color: #fff;
    background-position: cover;
    width: 100vw;
    height: 100vh;

}

.left-sec {
    padding-top: 15px;
    display: flex;
    flex-basis: 50%;
    background-image: url('../assets/Ombak.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    padding-left: 40px;
}

.right-sec {
    display: flex;
    flex-basis: 50%;
    background-color: #fff;
    width: 50%;
    height: 100%;
    padding-right: 50px;
}

.main-leftSec {

    margin: 0;
    display: block;
    text-align: left;
}

.button-login {
    margin: 5% 0 0 10%;
    display: flex;
    width: 129px;
    height: 48px;
    float: left;
    padding: 12px 24px 12px 20px;
    border: 1px solid #192BC2;
    box-shadow: 0px 8px 24px rgba(8, 14, 65, 0.15);
    border-radius: 8px;
    background: #A9B1F4;

}

.logo-btnHome{
    width: 14px;
}
.btn-home {
    /* margin-bottom: 5px; */
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #192BC2;
    padding: 0%;
    margin-left: 10px;
}


.login-img {
    margin: auto;
    margin-top: 22.5%;
    width: 40vw;
    height: auto;
    margin-left: 12%;
}

.form-part {
    /* display: flex; */
    padding-top: 25%;
    width: 100%;
    text-align: center;

}

.title-form {

    margin: auto;
    width: auto;
    color: #192BC2;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

}

.desc-form {

    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    /* display: flex; */
    width: 25rem;
    /* height: 3rem; */
    /* margin-left: 20%; */
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.register {
    width: 25rem;
    color: black;
    margin: auto;
    text-align: right;
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

/* .submit-form{
    width: 25rem;
    background-color: #868686;
    padding: 12px 170px;
    margin-bottom: 11.25rem;
} */
.penutup {
    /* display:list-item; */
    /* B1/Regular */

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #4C4C4C;

}