.whole-sec4 {
    width: 100vw;
    height: 2616px;

    background-color: #fff;
}

.bread-crumb {
    text-align: left;
    margin-left: 5%;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #192BC2;
}

.body-sec4 {
    padding: 7% 5%;
    color: black;
}

.main-img {
    margin: auto;
    width: 90vw;
    height: 224px;
    background: linear-gradient(93.39deg, #192BC2 0%, #5363E9 100%);
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
    padding: 4% 20%;
    font-family: 'Inter';
}
.main-bottom{
    margin-top: 10%;
    max-width: 1300px;
   padding: 0 5%;
}

.title-pb {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

    letter-spacing: -0.015em;
}

.desc-pb {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;

}

.filter-bar {
    display: flex;
    margin: auto;
    margin-left: 30vw;
    margin-bottom: 32px;
}

/* kasih @madia nya  */
.filter-bar2 {
    display: flex;
    float: left;
}

.filter-bar3 {
    float: right;
}

.filter-beda {
    float: right;
}

.btn-filterBar {

    background: #192BC2;
    border-radius: 0px 8px 8px 0px;
    padding: 12px 24px;
    width: 105px;
    height: 48px;
    /* margin: auto; */

}
.whole-sec4 .nav-filter{
    /* justify-content: center; */
    float: none;
}