.sec1 {
    font-family: 'Poppins';
    width: 100vw;
    /* height: 56.1rem; */
    height: 25%;
    background-color: #fff;
    padding: 11% 7%;

}

.full-sec1 {
    /* align-self: center; */
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.title-sec1 {
    text-align: left;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #192BC2;
    /* margin-top: 24.5rem; */
    padding-top: 6.5rem;
    height: 9.5rem;
    width: 609px;
}

.desc-sec1 {
    margin-top: 0.5rem;
    text-align: left;
    width: 609px;
    color: black;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 12rem ;
    /* or 140% */
}

/* .text-sec1{
    /* margin-right: 8.75%; */

.img-sec1 {
    margin-left: 10%;
    display: flex;
    float: right;
    width: 65%;
    max-height: 650px;
    background-color: #fff;
    /* border: 2px solid #121212; */
    border-radius: 8px;
}