.sec2 {
    width: 100vw;
    height: 15.6%;
    background-color: #fff;
    padding-top: 7.2rem;
    font-family: 'Poppins';
}

.title-sec2 {
    color: #192BC2;
    text-align: center;
    margin-bottom: 5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

}