.sec4 {
    width: 100vw;
    height: 12.6%;
    background-color: #fff;
    padding-top: 57px;
    font-family: 'Poppins';
}

.title-sec4 {
    color: #121212;
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */
}