.home-sec3 {
    width: 100%;
    min-height: 1475px;
    background-color: #fff;
    background-image: url('../../assets/backgroundHome2.svg');
    background-size: cover;
    padding: 81px 7% 167px 7%;

}
.whySWU{
    margin: 0;
    padding: 0%;
}
.titleSWU {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #FAFAFF;
    margin-bottom: 48px;
}
.main-whySWU{
    margin: 0 0%;
    display: flex;
}
.img-SWU{
    margin: 104.5px 8.6% 0 0;
    width: 38%;
    height: auto;
}
.infoBeasiswa{
    text-align: center;
}
.title-IB{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #FAFAFF;
    margin-bottom: 48px;
}