.home-sec4 {
    width: 100vw;
    height: 632px;
    padding: 48px 100px;
    background-color: #fff;
    color: black;
}

.title-HS4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #121216;

}