.sec5 {
    width: 100vw;
    height: 22.9%;
    background-color: #fff;
    font-family: 'Poppins';
    padding-top: 57px;
    margin: auto;
}

.title-sec5 {
    color: #121212;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 32px;

}
.tagSec5{
    width: 25%;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 62px;
}