.btn-norm{
    padding: 12px 24px;
    background-color: #868686;
    margin-top: 1.5rem;
    margin-left: 6.25rem;
}
.btn-submit{
    width: 25rem;
    background-color: #868686;
    padding: 12px 170px;
    margin-bottom: 11.25rem;
}
.btn-norm2{
    padding: 12px 24px;
    background-color: #868686;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
    border: 1px solid #FAFAFA;
}
.btn-norm3{
    padding: 12px 24px;
    background-color: #FAFAFA;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
    margin-left: 24px;
    border: 1px solid #FAFAFA;
    color: #121212;
}
.btn-nav{
    padding: 12px 24px;
    background-color: #868686;
    /* margin-top: 1.5rem;
    margin-left: 6.25rem; */
}