.carousel{
    margin: auto;
    width: 86%;

}

.slick-slide > div {
    margin-bottom: 2rem;
    margin: 0 0px;
  }
  .slick-list {
    margin: 0 0px;
  }
  .slick-slider{
    width: 100%;
  }
  .card-car {
    margin: auto;
    border: 1px solid #fff;
    /* background: black; */
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
  }
  
  .card-top > video {
    margin: auto;
    width: 25rem;
    height: 12.5rem;
    /* object-fit: cover; */
    background: #868686;
  }
  /* .slick-dots > li{
    margin: 0 16px;
  } */

.carousel >button{
    background-color: #868686;
}
.slick-arrow {
    /* margin-right: 10px; */
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.slick-prev {
    left: -65px;
}
.slick-next{
    right: -55px;
}
 