@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.Carousel3D {
  width: 55vw;
  margin: 0rem;
  
}

.Carousel3D .slide img {
  width: 100%;
  margin: auto;
}

.Carousel3D .slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.6;
}

.Carousel3D .activeSlide {
  transform: scale(1);
  opacity: 1;
}

.Carousel3D .arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.Carousel3D .arrow svg {
  transition: color 300ms;
}

.Carousel3D .arrow svg:hover {
  color: #68edff;
}

.Carousel3D .next {
  right: -7%;
  top: 50%;
}

.Carousel3D .prev {
  left: 0%;
  top: 50%;
}