.pagination {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    max-width: 1000px;
    /* batasi lebar container */
    flex-wrap: wrap;
    /* biarkan nomor halaman pindah ke baris baru */
    padding: 0 5%;
}

.page-item {
    display: inline-block;
}

.cardPB-list{
    list-style: none;
    display: flex;
    margin: auto;
}
.page-link {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    margin-right: 1%;
    text-decoration: none;
    color: #333;
    width: 20%;
}

.page-link:hover,
.page-link:focus {
    background-color: #eee;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.page-item.disabled .page-link {
    opacity: 0.5;
    pointer-events: none;
}

@media (max-width: 600px) {
    .page-link {
        margin-right: 0;
    }

    .page-item:nth-child(5n+1) {
        margin-right: 1%;
    }
}