.boxSWU {
    width: 610px;
    height: 157px;
    background: #FAFAFF;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;
    display: flex;
}

.imgBoxSWU {
    width: 5.5vw;
    margin-right: 20px;
}

.textBOXSWU {
    width: 438px;
    height: 72px;
}

.titleBoxSWU {
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #121216;
}

.descBoxSWU {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #4C4C50;
}