.pop-up1 {
    width: 464px;
    height: 518px;
    background: #FAFAFF;
    border-radius: 16px;
    padding: 48px;
}

.title-popUp1 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;
}
.each-dd{
    margin-bottom: 16px;
}

.titlenya-dd {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.005em;

    /* Neutral/90 */

    color: #121216;
}

.submit-popUp1 {
    width: 368px;
    height: 48px;

    /* Primary/50 */

    background: #192BC2;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.005em;

    /* Neutral/10 */

    color: #FAFAFF;
}
.box-popUp1{
    margin-bottom: 48px;
}