.nama-ddb1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #FAFAFF;

}

:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}


.ddb-dash ul {
    list-style: none;
    padding: 9%;
    text-align: left;
}

.ddb-dash a {
    text-decoration: none;
}

.ddb-dash .menu-trigger {
    /* width: 100px; */
    display: flex;
    justify-content: center;
}

.ddb-dash .img-ddb1 {
    width: 42px;
    margin-right: 24px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
}

.ddb-dash .nama-ddb1 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #121216;
    margin: auto;

}

.ddb-dash .menu-trigger .img-ddb2 {
    width: 24px;
}

.ddb-dash .dropdown-menu {
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
    border-color: #A9B1F4;
}

.ddb-dash .dropdown-menu::before {
    content: '';

    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.ddb-dash .dropdown-menu.active {
    text-align: left;
    opacity: 1;
    visibility: visible;
    transform: translateX(60px);
    transition: var(--speed) ease;
    padding: 0%;
}


.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(-20px); */
    transition: var(--speed) ease;
}

.dropdown-menu ul li {
    /* padding: 10px 0; */
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItemDash {
    display: flex;
    /* margin: 10px auto; */
}

.dropdownItemDash img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItemDash a {

    color: #000;
    max-width: 100px;
    /* margin-left: 10px; */
    transition: var(--speed);
}

.ddb-dash {
    text-align: center;
    width: 277px;
    /* width: 96px;
    height: 48px; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dropdownItemDash .btn-ilang {
    display: inline-flex;
    justify-content: left;
    background-color: #fff;
    width: 156px;
    height: 48px;
    padding: 10% 0 0 25%;
    border-color: #fff;
}

.dropdownItemDash .btn-ilang:hover {
    border-color: #fff;
}

.dropdownItemDash .btn-ilang:after {
    border-color: #fff;
}