.detailBeasiswa {
    width: 100vw;
    height: auto;
    background: #FAFAFF;
}

.detailBeasiswa .bread-crumb {
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #86868B;
}

.whole-beasiswa {
    padding: 5%;
}

.header-fullBeasiswa {
    width: 90vw;
    height: 197px;
}

.penyelenggara-beasiswa {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #4C4C50;
}

.nama-beasiswa {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #121216;
}

.mid-fullBeasiswa {
    margin: 24px 0;
}

.tags-beasiswa {
    margin: 16px 0;
    display: flex;
}

.tag-beasiswa {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #111D81;
    background: #A9B1F4;
    border-radius: 16px;
    padding: 4px 16px;
    width: auto;
    height: 32px;
}

.tentang-beasiswa {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    letter-spacing: -0.015em;

    /* Neutral/90 */

    color: #121216;


}

.img-fullBeasiswa{
    margin-right: 48px;
    width: 400px;
    height: 240px;
}

.isi-textBeasiswa {
    width: 820px;
}

.isi-midBeasiswa {
    display: flex;
}

.main-midBeasiswa {
    margin-bottom: 48px;
    width: 100%;
    display: flex;
}

.left-midBeasiswa {
    width: 50%;
}

.right-midBeasiswa {
    padding-left: 5%;
    width: 50%;
}

.univ-leftBeasiswa {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.015em;

    color: #121216;
}

.listUniv-leftBeasiswa {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.005em;

    color: #000000;
}

.prodi-rightBeasiswa {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #121216;

}

.listProdi-rightBeasiswa {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #000000;
}

.akhir-midBeasiswa {
    display: flex;
    padding: 16px 32px;
    width: 100%;
    height: 88px;
    background: rgba(169, 177, 244, 0.2);
    border: 1px solid #192BC2;
    border-radius: 8px;
}

.open-beasiswa {
    width: 50%;
}

.close-beasiswa {
    padding-left: 5%;
    width: 50%;
}

.desc-beasiswafull {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    margin-bottom: 24px;

    color: #121216;
}

.title-openBeasiswa {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #111D81;
}

.tanggal-openBeasiswa {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #111D81;

}

.title-closeBeasiswa {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #A40D13;
}

.tanggal-closeBeasiswa {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #A40D13;
}

.title-tambahan {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #000000;
}

.kunjungi-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.005em;

    color: #000000;

}

.bottom-beasiswa {
    display: flex;
    justify-content: space-between;
}

.tambahan-fullBeasiswa {
    margin-top: 48px;
}