.footer {
    width: 100vw;
    height: 360px;
    background-color: #192BC2;
    font-family: 'Inter';
}

.footer-parts {
    justify-content: space-between;
    padding: 48px 100px;
    display: flex;
}

.footer1 {
    margin-left: 90px;
    width: 400px;
}

.footer1>h2 {
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #FAFAFF;
}

.footer1>h4 {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #C0C0C5;

}

.footer2>ul,
.footer3>ul {
    list-style: none;
}
.part-footer{
    text-align: left;
    margin-top: 16px;

} 

.title-footer {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: #FAFAFF;

}

.footer2 {
    margin-left: 90px;
    width: 190px;
}

.footer3 {
    margin-left: 90px;
    width: 190px;
}

.footer4 {
    margin-left: 90px;
    width: 190px;
}
.flex-footer4{
    display: flex;
    margin-top: 22px;
}
.text-footer4{
    margin-left: 11px;
}
.akhir-footer{
    margin: 24px 0;
    justify-content: center;
}