.modul-kelas {
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #FAFAFF;
}

.modul-isi {
    display: flex;
    padding-top: 4.5rem;
}

.left-modul {
    margin-top: 3%;
    width: 83vw;
    padding: 0% 5% 8% 5%;
    justify-content: center;
    align-items: center;
}

.right-modul {
    display: flex;
    float: right;
    padding: 24px;
    width: 340px;
    height: 828px;
}

.video-modul {
    display: flex;
    margin: auto;
    margin-bottom: 48px;
}

.title-materi {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 24px;
    letter-spacing: -0.015em;

    color: #121216;
}

.text-descMateri {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    color: #4C4C50;
}