.nav-dashNew {
    margin: 0;
    padding: 12px 0px;
    background: #FAFAFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    z-index: 1000;
    height: 4.5rem;
}

.title-dashN {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #121216;
}