.ddb-pembayaran2 .menu-trigger {
    width: 820px;
    height: 80px;
    border-width: 0.5px 1px 1px 1px;
    border-style: solid;
    border-color: #192BC2;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
    transition: 0.5s;
}

.ddb-pembayaran2 .menu-trigger.active {
    border-radius: 0%;
    background: rgba(169, 177, 244, 0.2);
    border-bottom: rgba(169, 177, 244, 0.2);
    border-width: 1px 1px 0 1px;
}

.ddb-pembayaran2 .img-ddb1 {
    width: 100%;
    /* height: 32px; */
    margin-right: 20px;
}

.ddb-pembayaran2 .img-ddb2 {
    width: 24px;
    height: 24px;
}

.ddb-pembayaran2 .text-ddbp {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    /* Neutral/90 */

    color: #121216;
}

.ddb-pembayaran2 .left-trigger {
    display: flex;
}

.ddb-pembayaran2 .dropdown-menu.active {
    margin-left: -1px;
    width: 821px;
    height: 144px;
    background: rgba(169, 177, 244, 0.2);
    border-color: #192BC2;
    border-style: solid;
    border-width: 0px 2px 1px 2px;
    border-radius: 0px 0px 16px 16px;
}
.ddb-pembayaran2 .dropdown-menu.inactive {
    transition: 0.5s;
}
.ddb-pembayaran2 .dropdownItem {
    box-shadow: 0px 8px 24px rgba(8, 14, 65, 0.15);
    justify-content: space-between;
    display: flex;
}

.ddb-pembayaran2 .dropdownItem .btn-ilang {
    margin-top: 10px;
    width: 169px;
    height: 120px;

    /* Neutral/10 */
    background: #FAFAFF;
    /* Shadow/Base */

    border-radius: 8px;
    margin-right: 16px;
    justify-content: center;
    display: flex;

}

.ddb-pembayaran2 .dropdownItem img {
    width: 135px;
    height: 120px;
}

.ddb-pembayaran2 .dropdown-menu>ul {
    display: flex;

}